<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>504913872497-0ocuqopblt7b660a7rr0ss0slvpciiao.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.504913872497-0ocuqopblt7b660a7rr0ss0slvpciiao</string>
	<key>API_KEY</key>
	<string>AIzaSyDhKZiiNRFVkmflWc8Y5VdSzIWMMcTzN2A</string>
	<key>GCM_SENDER_ID</key>
	<string>504913872497</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.clickon.jobnew</string>
	<key>PROJECT_ID</key>
	<string>quanlynoibo-490220</string>
	<key>STORAGE_BUCKET</key>
	<string>quanlynoibo-490220.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:504913872497:ios:e11e82805068fdd3ec7dd0</string>
	<key>DATABASE_URL</key>
	<string>https://quanlynoibo-490220-default-rtdb.firebaseio.com</string>
</dict>
</plist>